{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Journal & Conference Papers</h1>

            <div class="row" id="pub_list">
                {{ range .Data.Pages.GroupByDate "2006" }}
                {{ if eq .Key "2025" }}
                <div class="col-md-2">
                    <h3>{{ .Key }}</h3>
                </div>
                <div class="col-md-10">
                    {{ range .Pages.ByDate.Reverse }}
                        {{ partial "publication_li_detailed" . }}
                    {{end}}
                </div>
                {{ end }}
                {{ end }}
                <div class="col-md-2">
                    <h3> 2024 and Before </h3>
                </div>      
                {{ range .Data.Pages.GroupByDate "2006" }}
                {{ if ne .Key "2025" }}
                <div class="col-md-2">
                    <h3> </h3>
                </div>   
                <div class="col-md-10">
                    {{ range .Pages.ByDate.Reverse }}
                        {{ partial "publication_li_detailed" . }}
                    {{end}}
                </div>
                {{ end }}
                {{ end }}
            </div>

        </div>
    </div>

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
